body {
    font-family: 'Aboreto', cursive;


}
header {
     background-color: #05668d;
     text-align: center;
     color: white;
     /*Aire: Cuando las cosas tiene su espacio y no se ven tan pegadas pp amontonadas*/
     padding: 30px;
}

nav {
    float: left;
    width: 30%;
    height: 500px;
    background-color: #02c39a;
}
article {
    float: left;
    width: 40%;
    background-color: #f0f3bd;
    height: 500px;

}

#fotoCiudad {
    float: left;
    background-color: #02c39a;
    width: 30%;
    height: 500px;
}

#fotoCiudad img{
    margin-top: 80px;
}
footer{
    clear: both;
    background-color: #028090;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    color: white;
}
h2{
    padding: 20px;
}